In [2]:
import pandas as pd

In [4]:
df_pp = pd.read_csv('./data/clean/prisoner_counts.csv')

In [5]:
df_pp

,year,aglev,region,geography,class,sexratio,males,females
0,2010,f,NaN,Federal,fedstate,14.48240,196222.0,13549.0
1,2010,r,NaN,Midwest,fedstate,13.59031,245373.0,18055.0
2,2010,r,NaN,Northeast,fedstate,18.73794,165100.0,8811.0
3,2010,r,NaN,South,fedstate,12.15678,604423.0,49719.0
4,2010,r,NaN,West,fedstate,12.41191,287944.0,23199.0
...,...,...,...,...,...,...,...,...
3402,1880,s,west,Washington,census-total,26.00000,78.0,3.0
3403,1880,s,south,West Virginia,census-total,13.59259,367.0,27.0
3404,1880,s,midwest,Wisconsin,census-total,20.35714,570.0,28.0
3405,1880,s,west,Wyoming,census-total,36.00000,72.0,2.0
3406,1880,t,NaN,U.S. Total,census-total,10.69258,54190.0,5068.0